html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f2f2f2; /* Ljusgrå bakgrundsfärg */
}

header,
.footer {
    margin-bottom: auto;
    background-color: #fefefe;
}

.container {
    flex: 1;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #ff5733; /* Orange för fokus */
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-brand img {
    width: 30rem;
    height: auto;
    margin-right: 10px;
}

a {
    color: #ff5733;/* Orange för länkar */
    padding-top: 5px;
}

.form-group {
    padding: 5px;
}

.btn-primary {
    color: #fff;
    background-color: #001f3f; /* Mörkblå för primärknappar */
    border-color: #001f3f;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #001f3f; /* Mörkblå för aktiva länkar i pillmenyn */
    border-color: #001f3f;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
